html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;  
    line-height: 1.5; 
}
/*GLOBAL*/
fieldset{
    margin: 0;
    padding: 0;
    border: none;
}
h1{
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
}
p{
    margin: 0;
    text-align: center;
}
/*UTILIDADES*/
.font-bold{
    font-weight: bold;
}
.font-normal{
    font-weight: normal;
}
/*Estilo al container*/
.container{
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
@media(min-width: 640px){
    .container{
        max-width: 640px;
    }
}
@media(min-width: 768px){
    .container{
        max-width: 768px;
    }
}
@media(min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}
@media(min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}
/*Estilo para el contenido*/
.contenido{
    margin-top: 6rem; 
    padding-bottom: 4rem;
}

/*Estilo para el encabezado*/
.header{
    background-color: #2196f3;
    padding: 1.2rem;
}
/*Dando estilo al formulario*/
.form{
    max-width: 51.2rem;
    margin: 4rem auto 0;
}
.campo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.campo label{
    flex-basis: 8rem;
}
.campo select{
    flex: 1;
    padding: 1.2rem;
    border: none;
    appearance: none;
    background-color: #f7f7f7;
    border-radius: 1rem;
}
/*Dando estilo al legend*/
.legend{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
}
.legend-tipo{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.l-legend{
    margin-right: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}
/*Estilo al boton*/
.button-flex{
    display: flex;
    justify-content: center;
    padding: 1.6rem 0;
    height: 7.2rem;
}
.button-flex button{
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    padding: .8rem 8rem;
}
.button-flex button:hover{
    cursor: pointer;
    background-color: #0176d3;
}
.result-cotizador{
    margin-bottom: 4rem;
}
/*Tipo de mensaje*/
.error{
    background-color: rgba(255,0,0,.1);
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 1rem ;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}
.correcto{
    background-color: rgba(0,230,0, .1);
    border: 1px solid #00af00;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #00af00;
}
/*Estilo al spinner*/
.spinner-config{
    display: none;
}
/*Spinner*/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

/*Estilo para el resultado*/
.div-resultado{
    margin-top: 4rem;
    border: 1px solid #205f90;
    padding-bottom: 2rem;
}
.div-header{
    background-color: #205f90;
    padding: 1rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1rem;
}